@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/*
=============== 
Variables
===============
*/

:root {
	--clr-main: #4d7c0f;
	--clr-post: #d9f99d;
	--clr-grey: #343a40;
	--clr-white: #f8fafc;
	--clr-black: #222;

	--transition: all 0.5s ease-in-out;
	--spacing: 0.1rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

	--max-width: 1170px;
	--fixed-width: 920px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	color: var(--clr-grey);
	background-color: var(--clr-white);
}

/*
=============== 
Accordion - Container
===============
*/

.accordion {
	display: grid;
	row-gap: 1rem;

	width: 90vw;
	max-width: var(--fixed-width);
	margin: 10rem auto;
}

.accordion h3 {
	line-height: 1.2;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 2rem;
}

@media screen and (min-width: 992px) {
	.accordion {
		display: grid;
		grid-template-columns: 250px 1fr;
		column-gap: 2rem;
	}
}

/*
=============== 
Questions
===============
*/

.question {
	display: grid;
	row-gap: 1rem;

	padding: 1.5rem 2rem;
	margin-bottom: 2rem;

	box-shadow: var(--light-shadow);
	border-radius: var(--radius);
}

.question.open {
	box-shadow: var(--dark-shadow);
	border-top: 3px solid var(--clr-main);
}

.question header {
	display: grid;
	grid-template-columns: 1fr 30px;

	align-items: center;
}

.question.open header {
	color: var(--clr-main);
}

.question p {
	line-height: 1.5;
	letter-spacing: 0.5px;
}

.btn {
	width: 30px;
	height: 30px;
	border: none;
	background-color: var(--clr-post);
	color: var(--clr-main);
	border-radius: var(--radius);
}

.btn:hover {
	cursor: pointer;
}
